<!DOCTYPE html>
<html lang="en-US">
  <!--[if lt IE 9]><script type="text/javascript">var IE_fix=true;</script><![endif]-->
  <script type="text/javascript">
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1896251207268347');
    fbq('track', 'Redirect');
    var url = "{{ page.redirect.to }}";
    if(typeof IE_fix != "undefined") // IE8 and lower fix to pass the http referer
    {
      document.write("redirecting..."); // Don't remove this line or appendChild() will fail because it is called before document.onload to make the redirect as fast as possible. Nobody will see this text, it is only a tech fix.
      var referLink = document.createElement("a");
      referLink.href = url;
      document.body.appendChild(referLink);
      referLink.click();
    }
    else { window.location.replace(url); } // All other browsers
  </script>
  <meta charset="utf-8">
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ page.redirect.to }}">
  <meta name="robots" content="noindex">
  <noscript>
    <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
    <h1>Redirecting&hellip;</h1>
    <a href="{{ page.redirect.to }}">Click here if you are not redirected.</a>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1896251207268347&ev=Redirect&noscript=1" />
  </noscript>
</html>
